<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanghong.pos.dao.CashierMapper">
  <resultMap id="BaseResultMap" type="com.fanghong.pos.model.Cashier">
    <result column="CASHIER_KEY" jdbcType="INTEGER" property="cashierKey" />
    <result column="CASHIER_PASSWORD" jdbcType="CHAR" property="cashierPassword" />
    <result column="USER_ID" jdbcType="CHAR" property="userId" />
    <result column="USER_PASSWORD" jdbcType="CHAR" property="userPassword" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_MOBILE" jdbcType="CHAR" property="userMobile" />
    <result column="DEPT_ID" jdbcType="CHAR" property="deptId" />
    <result column="CASHIER_STATUS" jdbcType="CHAR" property="cashierStatus" />
    <result column="REGIST_TYPE" jdbcType="CHAR" property="registType" />
    <result column="RESOURCE_FROM" jdbcType="CHAR" property="resourceFrom" />
    <result column="CASHIER_DISCOUNT_LEVEL" jdbcType="INTEGER" property="cashierDiscountLevel" />
    <result column="CREATETS" jdbcType="TIMESTAMP" property="createts" />
    <result column="MODIFYTS" jdbcType="TIMESTAMP" property="modifyts" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CASHIER_KEY, CASHIER_PASSWORD, USER_ID, USER_PASSWORD, USER_NAME, USER_MOBILE, DEPT_ID, 
    CASHIER_STATUS, REGIST_TYPE, RESOURCE_FROM, CASHIER_DISCOUNT_LEVEL, CREATETS, MODIFYTS
  </sql>
  <select id="selectByExample" parameterType="com.fanghong.pos.model.CashierExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from POS_CASHIER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fanghong.pos.model.CashierExample">
    delete from POS_CASHIER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanghong.pos.model.Cashier">
    <selectKey keyProperty="cashierKey" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into POS_CASHIER (CASHIER_PASSWORD, USER_ID, USER_PASSWORD, 
      USER_NAME, USER_MOBILE, DEPT_ID, 
      CASHIER_STATUS, REGIST_TYPE, RESOURCE_FROM, 
      CASHIER_DISCOUNT_LEVEL, CREATETS, MODIFYTS
      )
    values (#{cashierPassword,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{userPassword,jdbcType=CHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=CHAR}, #{deptId,jdbcType=CHAR}, 
      #{cashierStatus,jdbcType=CHAR}, #{registType,jdbcType=CHAR}, #{resourceFrom,jdbcType=CHAR}, 
      #{cashierDiscountLevel,jdbcType=INTEGER}, #{createts,jdbcType=TIMESTAMP}, #{modifyts,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fanghong.pos.model.Cashier">
    <selectKey keyProperty="cashierKey" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into POS_CASHIER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cashierPassword != null">
        CASHIER_PASSWORD,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userPassword != null">
        USER_PASSWORD,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userMobile != null">
        USER_MOBILE,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="cashierStatus != null">
        CASHIER_STATUS,
      </if>
      <if test="registType != null">
        REGIST_TYPE,
      </if>
      <if test="resourceFrom != null">
        RESOURCE_FROM,
      </if>
      <if test="cashierDiscountLevel != null">
        CASHIER_DISCOUNT_LEVEL,
      </if>
      <if test="createts != null">
        CREATETS,
      </if>
      <if test="modifyts != null">
        MODIFYTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cashierPassword != null">
        #{cashierPassword,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=CHAR},
      </if>
      <if test="cashierStatus != null">
        #{cashierStatus,jdbcType=CHAR},
      </if>
      <if test="registType != null">
        #{registType,jdbcType=CHAR},
      </if>
      <if test="resourceFrom != null">
        #{resourceFrom,jdbcType=CHAR},
      </if>
      <if test="cashierDiscountLevel != null">
        #{cashierDiscountLevel,jdbcType=INTEGER},
      </if>
      <if test="createts != null">
        #{createts,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyts != null">
        #{modifyts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanghong.pos.model.CashierExample" resultType="java.lang.Long">
    select count(*) from POS_CASHIER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update POS_CASHIER
    <set>
      <if test="record.cashierKey != null">
        CASHIER_KEY = #{record.cashierKey,jdbcType=INTEGER},
      </if>
      <if test="record.cashierPassword != null">
        CASHIER_PASSWORD = #{record.cashierPassword,jdbcType=CHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.userPassword != null">
        USER_PASSWORD = #{record.userPassword,jdbcType=CHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null">
        USER_MOBILE = #{record.userMobile,jdbcType=CHAR},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=CHAR},
      </if>
      <if test="record.cashierStatus != null">
        CASHIER_STATUS = #{record.cashierStatus,jdbcType=CHAR},
      </if>
      <if test="record.registType != null">
        REGIST_TYPE = #{record.registType,jdbcType=CHAR},
      </if>
      <if test="record.resourceFrom != null">
        RESOURCE_FROM = #{record.resourceFrom,jdbcType=CHAR},
      </if>
      <if test="record.cashierDiscountLevel != null">
        CASHIER_DISCOUNT_LEVEL = #{record.cashierDiscountLevel,jdbcType=INTEGER},
      </if>
      <if test="record.createts != null">
        CREATETS = #{record.createts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyts != null">
        MODIFYTS = #{record.modifyts,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update POS_CASHIER
    set CASHIER_KEY = #{record.cashierKey,jdbcType=INTEGER},
      CASHIER_PASSWORD = #{record.cashierPassword,jdbcType=CHAR},
      USER_ID = #{record.userId,jdbcType=CHAR},
      USER_PASSWORD = #{record.userPassword,jdbcType=CHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_MOBILE = #{record.userMobile,jdbcType=CHAR},
      DEPT_ID = #{record.deptId,jdbcType=CHAR},
      CASHIER_STATUS = #{record.cashierStatus,jdbcType=CHAR},
      REGIST_TYPE = #{record.registType,jdbcType=CHAR},
      RESOURCE_FROM = #{record.resourceFrom,jdbcType=CHAR},
      CASHIER_DISCOUNT_LEVEL = #{record.cashierDiscountLevel,jdbcType=INTEGER},
      CREATETS = #{record.createts,jdbcType=TIMESTAMP},
      MODIFYTS = #{record.modifyts,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>